*{
    padding: 0;
    margin: 0;
    font-family: 'Inclusive Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
header{
	width: 100%;
}
nav h1 a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
nav{
	display: flex;
	background-color: #040D12;
	font-size: 20px;
	margin: auto;
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.menu-horizontal{
	list-style: none;
	display: flex;
	padding: 10px;
	justify-content: space-between;
	margin-right: 50px;
}
.menu-horizontal > li > a{
	padding: 15px 20px;
	color: white;
	text-decoration: none;
	justify-content: center;
}
.menu-vertical > li > a{
	display: block;
	color: rgb(15, 15, 15);
	text-decoration: none;
    font-size: 16.5px;
	padding: 10px;
}
.menu-horizontal > li > a:hover{
	color:  #0fe06a;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 150px;
    padding: 10px;
	background-color: rgba(246, 241, 241, .40);
	margin-right: 80%;
	top: 40px;
	
}
.menu-vertical li a:hover{
	color: #183D3D;
	text-decoration: underline;
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
/* SLIDE */
.position{
	position: absolute;
	z-index: -1;
	top: 45%;
	left: 50%;  
	transform: translate(-50%, -50%);
}
.slider{
	background-image: url(1.jpg);
	background-size: cover;
	height: 70%;
	width: 92%;
	border-radius: 10px;
	animation: animate 20s infinite;
}
@keyframes animate{
	20%{
		background-image: url(4.jpg);
		background-size: cover;
		
	}
	40%{
		background-image: url(3.jpg);
		background-size: cover;
		
	}
	60%{
		background-image: url(2.jpg);
		background-size: cover;
		
	}
	80%{
		background-image: url(1.jpg);
		background-size: cover;
		
	}
}
/* PRODUCTO MAS VENDIDO */
#img{
	display: flex;
	margin: auto;
	width: 500px;
	border-radius: 5px;
}
h2{
	text-align: center;
	padding-top: 50%;
}
/* Pruductos */
section{
	display: flex;
	justify-content: space-between;
	margin: 10px;
}
.h3{
	text-align: center;
	padding: 30px;
	padding-top: 10%;
}
.card{
	width: 150px;
	height: 300px;
	background-color: #f2f2f2;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
}
.card img{
	width: 100%;
	max-height: 100px;
	object-fit: cover;
	border-radius: 5px;
}
.card h3{
	font-size: 12px;
	margin-top: 10px;
}
.card p{
	font-size: 14px;
	margin-bottom: 5px;
}
.card .price{
	font-size: 18px;
	color:black;
}
.card .btn{
	display: inline-block;
	padding: 5px 10px;
	background-color: #0fe06a;
	color: #fff;
	text-decoration: none;
	border-radius: 3px;
	margin-top: 10px;
}
.btn:hover{
	background-color: #0a7739;
}
.card:hover{
	/* width: 160px;
	height: 310px; */
	transform: scale(1.1)
}
  /* FOOTER */
.foot{
	position: absolute;
	background-color: #040D12;
	height: 100px;
	width: 100%;
}
footer a{
	font-size: 30px;
	display: inline-flex;
	padding: 15px;
	padding: 2%;
	text-decoration: none;
	color: white;
}
footer a:hover{
	color:  #0fe06a;
}
/* RESPONSIVE */
