.cards{
    background-color: rgba(206, 222, 189, .50);
    width: 100%;
    .card-title{
        padding: 5% !important;
        text-align: center;
    }
    .card-text{
        text-align: center;
        padding-bottom: 5%;
    }
    .img-fluid{
        padding-top: 8%;
    }
}