.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .register {
      width: 400px;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    }
  }